[submodule "vivy-react"]
	path = vivy-react
	url = https://github.com/nest-micro/vivy-react.git
[submodule "vivy-common"]
	path = vivy-common
	url = https://github.com/nest-micro/vivy-common.git
[submodule "nest-micro"]
	path = nest-micro
	url = https://github.com/nest-micro/nest-micro.git
